nav {
    display: flex;
    justify-content: center;
    border: solid 10px red;
    align-items: center;
    height: fit-content;
    width: 100%;
    top: 0;
    background-image: url(Img_NavBackground.png);
    background-size: cover;
    color: white;
    gap: 110px;
}



nav ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li a {
    font-weight:bolder;
    text-decoration: none;
    color: black;
    font-size: 40px;
}   

.dropdown1 {
    overflow: hidden;
    margin-top: 30px;
}


.dropdown2 {
    overflow: hidden;
    margin-top: 30px;
}


.NavButton1, nav ul  {
    
    height:110px;
    width: fit-content;
    font-weight: bolder;
    border: 5px red solid;
    font-size: 40px;
    color: black;
    background-color: white;

}

.NavButton1:hover {
    box-shadow: 4px 4px white;
}


.NavButton2 {
    display: block;
    height:fit-content;
    width: fit-content;
    font-weight: bolder;
    font-size: 50px;
    background: blue;
}


.NavButton3 {
    display: block;
    height:fit-content;
    width: fit-content;
    font-weight: bolder;
    font-size: 50px;
    background-color: purple;
}


.NavButton4 {
    display: block;
    height:fit-content;
    width: fit-content;
    font-weight: bolder;
    font-size: 50px;
    background: yellow;
}




.NavButton1:hover {
    box-shadow: 4px 4px white;
}



.SubDropdown1 {
    display: none;
    position: absolute;
    align-items: center;
    background-color: red;
    border: solid 5px rgb(255, 0, 221);
    font-size: 30px;
}


.SubDropdown2 {
    display: none;
    position: absolute;
    align-items: center;
    background-color: blue;
    border: solid 5px rgb(255, 0, 221);
    font-size: 30px;
}


.SubDropdown3 {
    display: none;
    position: absolute;
    align-items: center;
    background-color: purple;
    border: solid 5px rgb(255, 0, 221);
    font-size: 30px;
}


.SubDropdown4 {
    display: none;
    position: absolute;
    align-items: center;
    font-weight: bolder;
    border: solid 5px rgb(255, 0, 221);
    background-color: yellow;
    font-size: 35px;
}



.Dropdown:hover .SubDropdown1{
    display: block;  
    width: 300px;
    height: 100px; 
}

.SubDropdown1:hover .SubDropdown2{
    display: block;
    width: 350px;
    height: 100px;
}


.SubDropdown2:hover .SubDropdown3{
    display: block;
    width: 370px;
    height: 160px;
}


.SubDropdown3:hover .SubDropdown4{
    display: block;
    width: 390px;
    height: 200px;
}





